<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.crm.dao.CreditMapper">
  <resultMap id="BaseResultMap" type="com.xxxx.crm.vo.Credit">
    <id column="credit_number" jdbcType="VARCHAR" property="creditNumber" />
    <result column="credit_password" jdbcType="VARCHAR" property="creditPassword" />
    <result column="loan" jdbcType="DECIMAL" property="loan" />
    <result column="credit_score" jdbcType="INTEGER" property="creditScore" />
    <result column="card_holder" jdbcType="VARCHAR" property="cardHolder" />
  </resultMap>
  <sql id="Base_Column_List">
    credit_number, credit_password, loan, credit_score, card_holder
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_credit
    where credit_number = #{creditNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_credit
    where credit_number = #{creditNumber,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xxxx.crm.vo.Credit">
    insert into t_credit (credit_number, credit_password, loan, 
      credit_score, card_holder)
    values (#{creditNumber,jdbcType=VARCHAR}, #{creditPassword,jdbcType=VARCHAR}, #{loan,jdbcType=DECIMAL}, 
      #{creditScore,jdbcType=INTEGER}, #{cardHolder,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xxxx.crm.vo.Credit">
    insert into t_credit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creditNumber != null">
        credit_number,
      </if>
      <if test="creditPassword != null">
        credit_password,
      </if>
      <if test="loan != null">
        loan,
      </if>
      <if test="creditScore != null">
        credit_score,
      </if>
      <if test="cardHolder != null">
        card_holder,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creditNumber != null">
        #{creditNumber,jdbcType=VARCHAR},
      </if>
      <if test="creditPassword != null">
        #{creditPassword,jdbcType=VARCHAR},
      </if>
      <if test="loan != null">
        #{loan,jdbcType=DECIMAL},
      </if>
      <if test="creditScore != null">
        #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="cardHolder != null">
        #{cardHolder,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxxx.crm.vo.Credit">
    update t_credit
    <set>
      <if test="creditPassword != null">
        credit_password = #{creditPassword,jdbcType=VARCHAR},
      </if>
      <if test="loan != null">
        loan = #{loan,jdbcType=DECIMAL},
      </if>
      <if test="creditScore != null">
        credit_score = #{creditScore,jdbcType=INTEGER},
      </if>
      <if test="cardHolder != null">
        card_holder = #{cardHolder,jdbcType=VARCHAR},
      </if>
    </set>
    where credit_number = #{creditNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxxx.crm.vo.Credit">
    update t_credit
    set credit_password = #{creditPassword,jdbcType=VARCHAR},
      loan = #{loan,jdbcType=DECIMAL},
      credit_score = #{creditScore,jdbcType=INTEGER},
      card_holder = #{cardHolder,jdbcType=VARCHAR}
    where credit_number = #{creditNumber,jdbcType=VARCHAR}
  </update>


  <select id="queryUserByName" parameterType="String" resultType="com.xxxx.crm.vo.Credit">
    select
    <include refid="Base_Column_List" />
    from
    t_credit
    where credit_number=#{creditNumber}
  </select>
</mapper>